@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: 600;
    color: whitesmoke;
}

.outer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
}

.inner-box{
    display: flex;
    flex-direction: column;
}

.inner-box-up{
    width: 400px;
    height: 60px;
    background-color: #3d3d3d;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field{
    height: 30px;
    /* outline: none; */
    background-color: transparent;
    margin-left: 25px;
}

.icon-top{
    margin-right: 25px;
}

.inner-box-down{
    width: 400px;
    height: 400px;
    background-color: #3d3d3d;
    color: whitesmoke;
}

.character-length{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin: 0 25px;
    padding-bottom: 10px;
}

.checkbox-section{
    display: flex;
    margin: 0 25px;
    padding-top: 15px;
    align-items: center;
}

.checkbox-text{
    padding-left: 12px;
}

.checkbox-icon-blank{
    cursor: pointer;
}

.strength{
    height: 60px;
    width: 350px;
    background-color: #212121;
    color: white;
    margin: 25px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.strength-right{
    display: flex;
}

.generate-button{
    background-color: #212121;
    color: white;
    height: 60px;
    width: 350px;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}